body {
  font-family: "Montserrat", sans-serif;
}

/********************************* NAVIGATION *****************************************/
.navigation {
  background-color: #fff;
  min-height: 70px;
  position: relative;
  margin-bottom: 0;
}
.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 75px;
  height: auto;
}
#navigation-right {
  padding-top: 13px;
  padding-bottom: 13px;
}
.nav-button {
  position: absolute;
  top: 10px;
  right: 5px;
}
#nav-first-link {
  border: 1px solid rgba(0, 0, 0, 0.192);
  border-radius: 4px;
  color: #04b431;
  padding: 5px 10px;
  margin-top: 5px;
  background-color: #fff;
}
.nav-linkovi {
  font-size: 13px;
  color: black;
  font-weight: bold;
}
.nav-linkovi:hover {
  cursor: pointer;
}

/********************************* FOOTER ***********************************************/
.footer {
  min-height: 50px;
  background-image: url(../img/naslovna-pocetna.jpg);
  background-size: cover;
  background-position: center;
  border-top: 4px solid green;
  position: relative;
  font-size: 14px;
}
.footer-left {
  position: absolute;
  top: 13px;
  left: 14%;
  color: #fff;
}
.footer-right {
  position: absolute;
  top: 13px;
  right: 14%;
}
.footer-right li {
  display: inline;
}
.footer-right li a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  margin-left: 10px;
}
.back-to-top {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: green;
  position: absolute;
  top: -30px;
  right: 30px;
}
.arrow {
  position: absolute;
  top: 19px;
  right: 19px;
  color: #fff;
  font-size: 12px;
}

/********************************* SECTION TITLES AND DIVIDERS *********************************/
h1 {
  font-weight: 600;
  letter-spacing: 1.2px;
}
h2 {
  text-align: center;
  color: #6e6e6e;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 25px;
  letter-spacing: 1.2px;
}
h3 {
  text-align: center;
  color: #6e6e6e;
  font-style: italic;
  font-weight: 300;
}
.divider1 {
  width: 15%;
  border: 3px solid #ebebeb;
  margin: 0 auto;
}
.divider2 {
  width: 75%;
  margin: 0 auto;
}

/*********************************************** POCETNA *************************************************/
/* POCETNA HEADER */
#home-page .header {
  padding-top: 80px;
  padding-bottom: 100px;
  height: auto;
  margin-top: 0;
  background-image: url(../img/naslovna-pocetna.jpg);
  background-size: cover;
  background-position: top;
  max-height: 500px;
  margin-bottom: 15px;
  border-bottom: 5px solid black;
}
#home-page .heading {
  color: #fff;
  margin-bottom: 40px;
}
#home-page #forms {
  text-align: center;
  margin-left: 30px;
}
#home-page .control-of-form::-webkit-input-placeholder {
  color: #bdbdbd;
}
#home-page .form-element {
  margin-bottom: 10px;
  margin-right: -30px;
  -webkit-box-shadow: 0px 20px 5px -4px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 20px 5px -4px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 20px 5px -4px rgba(0, 0, 0, 0.35);
}
#home-page .control-of-form {
  background-color: #088a08;
  border-radius: 0;
  height: 60px;
  color: #bdbdbd;
  border: none;
  font-size: 11px;
  -webkit-box-shadow: inset -1px 0px 12px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset -1px 0px 12px 2px rgba(0, 0, 0, 0.4);
  box-shadow: inset -1px 0px 12px 2px rgba(0, 0, 0, 0.4);
}
#home-page #btn-search {
  background-color: #0b6121;
  width: 180px;
  border-radius: 0;
  height: 60px;
  border: none;
  color: #fff;
  -webkit-box-shadow: 0px 20px 5px -4px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 20px 5px -4px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 20px 5px -4px rgba(0, 0, 0, 0.35);
}
/* POCETNA SECTION */
#home-page .icons-container {
  width: 100%;
  border-top: 20px solid #2e2e2e;
  border-bottom: 20px solid #2e2e2e;
}
#home-page .icons {
  display: inline-block;
  width: 12.5%;
  border-right: 1px solid black;
  background-color: #2e2e2e;
  text-align: center;
  align-content: center;
  height: 130px;
  color: #6e6e6e;
}
#home-page .icon {
  height: auto;
}
#home-page section {
  background-color: #f8f8f8;
  padding-top: 10px;
}
#home-page .article {
  width: 80%;
}
#home-page .img-article {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
#home-page .card {
  height: auto;
  margin-bottom: 30px;
  position: relative;
}
#home-page #card-title {
  font-style: italic;
  font-size: 20px;
}
#home-page .article-title {
  max-width: 100%;
  min-width: 20%;
  height: auto;
  color: #886a08;
  background-color: black;
  font-size: 1.2vw;
  font-weight: 400;
  padding: 2px 6px;
  position: absolute;
  top: -2%;
  right: 0;
}
#home-page .article p {
  text-align: left;
  font-size: 14px;
  text-align: justify;
}

/*************************************************** NALOG ******************************************************/
/* NALOG HEADER */
#account-page .header {
  height: 160px;
  background-image: url(../img/naslovna-nalog.jpg);
  background-size: cover;
  background-position: center;
  margin: 0;
}
#account-page .heading {
  color: #fff;
  font-size: 44px;
  text-transform: uppercase;
  font-weight: 700;
}
#account-page .navigation {
  border: none;
}
/* NALOG SECTION */
#account-page h1 {
  font-weight: 400;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #6e6e6e;
  font-size: 38px;
}
#account-page .login-registration-title {
  width: 100%;
  height: 160px;
  background-color: #f8f8f8;
  margin-bottom: 100px;
  padding-top: 20px;
  padding-left: 160px;
  border-bottom: 3px solid #ebebeb;
}
#account-page .login-registration {
  width: 80%;
}
#account-page .login-title {
  border-top: 1px solid #ebebeb;
  border-left: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
  padding: 10px 50px;
  margin-bottom: 5px;
}
#account-page .login-title h4 {
  color: #6e6e6e;
  font-size: 16px;
}
#account-page .form-box {
  background-color: #f8f8f8;
  padding: 50px;
  margin-bottom: 150px;
}
#account-page label {
  margin-bottom: 20px;
  color: #474d4b;
}
#account-page .form-control {
  margin-bottom: 20px;
  border-radius: 1px;
  background-color: transparent;
}
#account-page .btn {
  width: 100%;
  height: 40px;
  margin-top: 50px;
  text-transform: uppercase;
  background-color: rgb(43, 95, 56);
  color: #fff;
  border-radius: 1px;
}
#account-page .btn:hover {
  background-color: rgb(43, 95, 56);
  color: #fff;
}

/***************************************************** O NAMA ************************************************/
/* O NAMA HEADER */
#aboutus-page .header {
  min-height: 350px;
  background-image: url(../img/naslovna-onama.jpg);
  background-size: cover;
  background-position: center;
  max-height: 500px;
  padding-top: 30px;
}
#aboutus-page .heading {
  color: #fff;
  font-size: 44px;
  text-transform: uppercase;
  font-weight: 700;
}
/* O NAMA SECTION */
#aboutus-page #author {
  text-align: center;
  font-style: italic;
  font-size: 12px;
  margin-top: 25px;
}
#aboutus-page #sectionSubtitle {
  width: 80%;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 15px;
}
#aboutus-page section {
  background-color: #f8f8f8;
  padding-top: 10px;
}
#aboutus-page .articles {
  width: 85%;
  margin: 0 auto;
}
#aboutus-page .card {
  width: 100%;
  height: auto;
  margin: 0 auto;
}
#aboutus-page .article-text {
  margin-top: 20px;
  font-size: 14px;
}

/******************************************************** CONTACT **********************************************************/
/* CONTACT HEADER */
#contact-page .header {
  min-height: 350px;
  background-image: url(../img/naslovna-kontakt.jpg);
  background-size: cover;
  background-position: center;
  max-height: 500px;
  padding-top: 30px;
  margin-bottom: 80px;
}
#contact-page .heading {
  color: #fff;
  font-size: 44px;
  text-transform: uppercase;
  font-weight: 700;
}
/* CONTACT SECTION */
#contact-page section {
  background-color: #f8f8f8;
  padding-top: 10px;
}
#contact-page #contact-form {
  width: 100%;
  border: 5px solid #e2e2e2;
  background-color: #f8f8f8;
  padding: 60px;
  padding-bottom: 150px;
  position: relative;
  margin-bottom: 70px;
}
#contact-page label {
  margin-top: 15px;
  color: #474d4b;
}
#contact-page .input-style {
  border: none;
  background: transparent;
  box-shadow: none;
  border-radius: 0;
  border-bottom: 2px solid #e2e2e2;
  width: 80%;
  margin-left: 30px;
}
#contact-page #input-message {
  margin-top: 70px;
}
#contact-page #submit-button {
  position: absolute;
  top: 480px;
  right: 65px;
  color: #474d4b;
  border-radius: 1px;
  padding: 10px 60px;
  font-size: 14px;
  border-color: #04b431;
  background: transparent;
}
#contact-page .social-media {
  width: 90%;
  background-color: #474d4b;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  border: 5px solid #e2e2e2;
}
#contact-page .social-media h4 {
  color: #fff;
}
#contact-page .mail-icon {
  width: 30px;
  height: auto;
  margin-right: 10px;
}
#contact-page .globe-icon {
  width: 20px;
  height: auto;
  margin-right: 10px;
}
#contact-page .question-title {
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 15px;
  color: #474d4b;
  font-size: 15px;
}
#contact-page .question-text {
  font-size: 12px;
  color: #474d4b;
}
#contact-page .social-icons {
  margin-top: 15px;
  display: inline-block;
}
#contact-page .social-logo {
  width: 30px;
  height: auto;
  margin-right: 10px;
}

/************************************************* PARTNERS *******************************************************/
#partners {
  text-align: center;
  align-content: center;
  width: 75%;
  margin-bottom: 30px;
}
.partner {
  margin-bottom: 20px;
  border-bottom: solid 3px rgba(0, 0, 0, 0.1);
  padding-bottom: 25px;
}
.partner:hover {
  border-bottom: solid 3px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

/*********************************************** MEDIA QUERIS *******************************************************/
/* NAVIGATION */
@media (min-width: 768px) {
  .navbar-nav li a {
    padding-top: 11px;
    padding-bottom: 11px;
  }
}
@media only screen and (max-width: 767px) {
  #mainNavBar {
    border: none;
  }
  #nav-first-link {
    padding-bottom: 10px;
    border: none;
  }
  .nav-linkovi {
    font-size: 16px;
    letter-spacing: 1.1px;
    -webkit-box-shadow: inset 0px -165px 9px -169px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: inset 0px -165px 9px -169px rgba(0, 0, 0, 0.43);
    box-shadow: inset 0px -165px 9px -169px rgba(0, 0, 0, 0.43);
  }
  .heading {
    text-align: center;
  }
}
@media only screen and (max-width: 1023px) {
  .heading {
    text-align: center;
  }
}
/* FOOTER */
@media only screen and (max-width: 767px) {
  .partner {
    margin-bottom: 20px;
  }
  .footer {
    position: relative;
    font-size: 14px;
  }
  .footer-left {
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .footer-right {
    display: none;
  }
  .copyright {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .partner {
    margin-bottom: 20px;
  }
  .footer {
    position: relative;
    font-size: 14px;
  }
  .footer-left {
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .footer-right {
    display: none;
  }
}

/******************************************* POCETNA MEDIA QUERIS ***************************************************/
@media only screen and (max-width: 767px) {
  #home-page .header {
    padding-left: 20px;
    padding-right: 20px;
  }
  #home-page .form-element {
    margin: 0;
    margin-bottom: 10px;
  }
  #home-page #forms {
    margin: 0;
  }
  #home-page .scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    border: none;
  }
  #home-page .scrolling-wrapper::-webkit-scrollbar {
    display: none;
  }
  #home-page .icons-container {
    border: none;
    -webkit-box-shadow: inset 10px 200px 38px 200px rgba(46, 46, 46, 1);
    -moz-box-shadow: inset 10px 200px 38px 200px rgba(46, 46, 46, 1);
    box-shadow: inset 10px 200px 38px 200px rgba(46, 46, 46, 1);
  }
  #home-page .icons {
    width: 55%;
    display: inline-block;
    height: 120px;
    border: none;
  }
  #home-page .icon {
    height: auto;
  }
  #home-page #btn-search {
    border-radius: 2px;
  }
  #home-page .card {
    height: auto;
    margin-bottom: 50px;
  }
  #home-page .article-title {
    height: auto;
    font-size: 3.5vw;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  #home-page .form-element {
    margin: 0;
    margin-bottom: 10px;
  }
  #home-page #forms {
    margin: 0;
  }
  #home-page .scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    border: none;
  }
  #home-page .scrolling-wrapper::-webkit-scrollbar {
    display: none;
  }
  #home-page .icons-container {
    border: none;
    -webkit-box-shadow: inset 10px 200px 38px 200px rgba(46, 46, 46, 1);
    -moz-box-shadow: inset 10px 200px 38px 200px rgba(46, 46, 46, 1);
    box-shadow: inset 10px 200px 38px 200px rgba(46, 46, 46, 1);
  }
  #home-page .icons {
    width: 28%;
    display: inline-block;
    height: 120px;
    border: none;
  }
  #home-page .icon {
    height: auto;
  }
  #home-page #btn-search {
    border-radius: 2px;
  }
  #home-page .card {
    height: auto;
    margin-bottom: 50px;
  }
  #home-page .article-title {
    height: auto;
    font-size: 2vw;
  }
}

/******************************************* NALOG MEDIA QUERIES ****************************************************/
@media only screen and (max-width: 1024px) {
  #account-page .login-registration-title {
    padding: 0;
    padding-top: 10px;
    text-align: center;
  }
  #account-page .login-registration {
    width: 80%;
  }
}
@media only screen and (max-width: 768px) {
  #account-page .login-registration {
    width: 100%;
  }
}

/******************************************* O NAMA MEDIA QUERIES *****************************************************/
@media only screen and (max-width: 767px) {
  #aboutus-page .card {
    height: auto;
    margin-bottom: 40px;
  }
}

/******************************************* KONTAKT MEDIA QUERIES ***************************************************/
@media only screen and (max-width: 1023px) {
  #contact-page #contact-form {
    width: 90%;
    margin: 0 auto 70px auto;
  }
  #contact-page #submit-button {
    position: absolute;
    top: 80%;
    right: 18%;
  }
  #contact-page .social-media {
    margin: 0 auto;
  }
  #contact-page .social-card {
    margin: 0 auto;
    width: 80%;
  }
  #contact-page .question-text {
    margin-bottom: 70px;
  }
  #contact-page .social-icons {
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 767px) {
  #contact-page #contact-form {
    position: relative;
    padding: 30px;
    padding-bottom: 100px;
  }
  #contact-page .input-style {
    width: 100%;
    margin: 0;
  }
  #contact-page #input-message {
    margin-top: 0;
  }
  #contact-page #submit-button {
    position: absolute;
    top: 600px;
    right: 6%;
    width: 86%;
  }
  #contact-page .social-media {
    margin: 0 auto;
  }
  #contact-page .social-card {
    margin: 0 auto;
    width: 80%;
  }
  #contact-page .question-text {
    margin-bottom: 70px;
  }
  #contact-page .social-icons {
    margin: 0 auto;
    margin-bottom: 50px;
  }
  #contact-page .social-logo {
    width: 50px;
    height: auto;
  }
}
